{% extends 'base.html' %}
{% load static %}

{% block main %}

<main>
  <section class="hero__section">
    {% include 'navbar.html' %}
    <div class="hero__section__grid">
      {% if user.is_authenticated %}
      <div class="hero__section__description__container">
        <div>
          <h1>Welcome back {{user.username}}</h1>
          <h3>What would you like to do?</h3>
          <ul>
            <li class="nav__item">
              <a class="nav__link" href={% url "list_projects" %}>View My Projects</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href={% url "show_my_tasks" %}>View My Tasks</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href={%url "create_project" %}>Create A New Project</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href='{% url "create_task" %}'>Create A New Task</a>
            </li>
          </ul>
        </div>
      </div>
      {% else %}
      <div class="hero__section__description__container">
        <div>
          <h1>Welcome to Project Manager</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, veniam? Ex, quidem nisi est eos quo
            corrupti! Expedita accusantium aliquid natus nisi asperiores dolore quos laboriosam perspiciatis veniam
            debitis. Praesentium!</p>
        </div>
        <div class="hero__button__container">
          <a href="" class="button learn__button">Learn More</a>
          <a href='{% url "signup" %}' class="button">Get Started</a>
        </div>
      </div>
      {% endif %}
      <div class="hero__image__container">
        <img class="hero__image" src="{% static 'images/hero_image.png' %}" alt="">
      </div>
    </div>
  </section>
  <section class="feature__section">
    <div class="container">
      <h2 class="heading-featured-in">As featured in</h2>
      <div class="logos">
        <img src="{% static 'images/business-insider.png' %}" alt="Techcrunch logo" />
        <img src="{% static 'images/forbes.png' %}" alt="Business Insider logo" />
        <img src="{% static 'images/techcrunch.png' %}" alt="The New York Times logo" />
        <img src="{% static 'images/the-new-york-times.png' %}" alt="Forbes logo" />
        <img src="{% static 'images/usa-today.png' %}" alt="USA Today logo" />
      </div>
    </div>
  </section>
</main>

{% endblock main %}