{% extends "base.html" %}

{% block main %}
<main>
    <div class = "fourofour">
        <h1>Sorry!</h1>
        <p>The page you have tried to reach does not exist.</p>
        <p>For assistance please call 778-330-2389</p>
    </div>
</main>
{% endblock main %}