{% extends 'base.html' %}
{% block title %}My Tasks{% endblock title %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="my-tasks-list">
        <h1 class="section__title">
            My Tasks
        </h1>
        <p class="sort__by__text">Sort By</p>
        <ul class="list">
            <li>
                <a class="filter__button" href="{% url 'show_my_tasks' %}?time=urgent">Most Urgent</a>
            </li>
            <li>
                <a class="filter__button" href="{% url 'show_my_tasks' %}?time=not_urgent">Least Urgent</a>
            </li>
            <li>
                <a class="filter__button" href="{% url 'show_my_tasks' %}?time=assigned">Time Assigned</a>
            </li>
        </ul>
        {% if tasks %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td><a href="{%url 'show_project' task.project.pk%}">{{task.name}}</a></td>
                    <td>{{task.start_date}}</td>
                    <td>{{task.due_date}}</td>
                    {% if task.is_completed %}
                    <td>Done! &#127881</td>
                    {% else %}
                    <td>
                        <form method="post" action="{% url 'complete_task' task.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_completed" value="True">
                            <div class="button-container">
                                <button class="button">Complete</button>
                            </div>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="button" href={%url "create_project" %}>Create A New Project</a>
        {% else %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock main %}