{% extends 'base.html' %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="project-form">
        <h1>Edit {{ project.name }}</h1>
        <form method='post'>
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Update</button>
        </form>
    </div>
</main>
{% endblock main %}