{% extends 'base.html' %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="project-form">
        <h1 class="section__title">Create a new project</h1>
        <form method='post'>
            {%csrf_token%}
            {{form.as_p}}
            <div class="button-container">
                <button class="button" type="submit">Create</button>
            </div>
        </form>
    </div>
</main>
{% endblock main %}