{% extends 'base.html' %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="project-form">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ project.name }}"?</p>
            {{ form.as_p }}
            <div>
                <button class="button">Delete</button>
            </div>
        </form>
    </div>
</main>
{% endblock main %}