{% extends "base.html" %}
{% load markdownify %}
{% block title %}
{{ project.name }}
{% endblock title %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="project-detail">
        <h1 class="section__title">{{project.name}}</h1>

        {% if project.host == user %}
        <ul class="list">
            <li>
                <a class="button" href={% url "edit_project" project.pk %}>Edit Project</a>
            </li>
            <li>
                <a class="button" href={% url "delete_project" project.pk %}>Delete Project</a>
            </li>
        </ul>
        {% endif %}
        <p>Host: {{ project.host }}</p>
        {{ project.description|markdownify }}
        <h2>Tasks</h2>

        {% if project.tasks.all %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.assignee}}</td>
                    {% comment %} <td>{{task.start_date}}</td> {% endcomment %}
                    <td>{{task.due_date}}</td>
                    <td>{{task.is_completed}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no__tasks__message">This project has no tasks</p>
        {% endif %}
        {% if user == project.host %}
        <a class="button" href='{% url "create_task" %}'>Create a new task</a>
        {% endif %}
        <div class="comment-form">
            <form method="POST">
                {% csrf_token %}
                <input class="comment__input" type="text" name="body"
                    placeholder="Write your message for the team here...">
            </form>
        </div>
        {% for message in project_messages %}
        <hr>
        <p>{{message.body}}</p>
        <small>-{{message.user}} {{message.created|timesince}} ago</small>
        {% endfor %}
        <hr>
    </div>
</main>
{% endblock main %}